.registro {
  display: none;
}
.registro.activo {
  display: block;
}
.exito {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.exito.activo {
  display: flex;
}
